@font-face {
	font-family: 'FNAFFont';
	src: url("/fonts/HACKED.ttf") format('truetype');
}
@font-face {
	font-family: 'NavbarFont';
	src: url("/fonts/Old\ Typewriter2.0.ttf") format('truetype');
}

* {
	padding: 0;
	margin:0;
}

body {
	background: linear-gradient(90deg, rgba(29, 29, 30, 0.5) 0%,
							rgba(29, 29, 30, 0) 100%),
		          red ;/*modifier la dernière valeur pour mettre une image*/
	
}



ul {
	display:flex;
	list-style-type: none;
	justify-content: space-around;
}

ul li {
	position: relative;
	color: #fff;
	font-size: 5vh;
	text-transform: uppercase;
	font-family: 'NavbarFont', sans-serif;
}
ul li::after{
	position: absolute;
	left: 50%;
	display: block;
	content: "";
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	height: 2px; width: 0;
	background-color: #fff;
}
ul li:hover::after {
	width: 100%;
	left: 0;
}



svg {
	position: absolute;
	top: 50%; left: 50%;
	translate: -50% -50%;
	height: 30vh;
}